.hero-item {
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  width: 250px;
  text-align: center;
  background-color: aquamarine;
  /* Ajusta el ancho según sea necesario */

  .details {
    text-align: center;
  }

  &.hero-villain {
    background-color: darkslategrey;
    color: white;
  }

  .hero-name {
    font-weight: bolder;
    font-size: 1.4rem;
  }

  .hero-powerstats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

    button {
      padding: 5px 10px;
      border: none;
      border-radius: 3px;
      background-color: white;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-right: 5px;

      &:hover {
          background-color: lightgray;
        }

        &:disabled {
          background-color: lightgray;

          cursor: not-allowed;
        }

    }
}
